@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Didact+Gothic&display=swap');
:root{
    --main-color: #662d91;
    --heading-color: #ff4081;
    --font-body: 'Didact Gothic', sans-serif;
    --font-heading: 'Emilys Candy', cursive;
}

body {
    background-color: #ffc0cb;
}

body, p {
    font-family: 'Didact Gothic', sans-serif;
    color: #662d91;
    text-align: center;
 
}

h1, h2, h3 {
    font-family: 'Emilys Candy', cursive;
    color: #ff4081;
}

iframe {
    display: block;
    margin: 20px auto;
    border: none;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
 
}

img {
    width: 100px;
    height: auto;
    margin: 10px auto;
}

