@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Didact+Gothic&display=swap');
:root{
    --main-color: #160d54;
    --heading-color: #f741b2;
    --font-body: 'Didact Gothic', sans-serif;
    --font-heading: 'Bonbon', cursive;
}

body {
    background-color: #cbc3e3;
   background-image: url("https://ellaw20.github.io/images/stars.avif");
    opacity: 0.6;
    background-repeat: repeat-2;
}

body, p {
    font-family: 'Didact Gothic', sans-serif;
    color: #160d54;
    text-align: center;
 
}

h1, h2, h3 {
    font-family: 'Bonbon', cursive;
    color: #f741b2;
    text-decoration: underline;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
 
}

img {
    width: 200px;
    height: auto;
    margin: 30px auto;
}
