@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Didact+Gothic&display=swap');
:root{
    --main-color: #aa336a;
    --heading-color: #fd9dd9;
    --font-body: 'Didact Gothic', sans-serif;
    --font-heading: 'Bonbon', cursive;
}

body {
    background-color: #cbc3e3;
    background-image: url("https://ellaw20.github.io/images/stars.avif");
    background-repeat: repeat;
    text-align: center;

}

body, p {
  font-family: 'Didact Gothic', sans-serif;
  color: #160d54
font-size: 19px;
    
}

h1, h2, h3 {
    font-family: 'Bonbon', cursive;
    color: #aa336a;
    font-size: 25px;
    text-decoration: underline;
    
}

ul {
    list-style: none;
    padding: 10px;
    display: inline-block;
  
}

li {

    font-size: 18px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

img {
    width: 200px;
    height: auto;
    margin: 30px auto;
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}


