@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Quicksand&display=swap');

:root {
    --font-body: "Quicksand", sans-serif;
    --font-heading: "Playwrite DE Grund", cursive;
}

body {
    background-color: #98A869;
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
}

* {
    color: #152238;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 28pt;
    font-family: var(--font-heading);
    margin-bottom: 0;
}

h2 {
    font-size: 22pt;
    font-family: var(--font-body);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* This was missing a bracket! */
li {
    font-family: var(--font-body);
    font-size: 15px;
}

#top {
    border: 5px solid #152238;
    margin: 8vw;
    margin-top: 5px;
    padding: 10px;
    background-color: #FFF1E7;
}

section {
    border: 5px #FFF1E7 dashed;
    margin: 18vw;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}

.date {
    color: #FFF1E7;
    white-space: nowrap;
}

.date strong {
    color: #FFF1E7;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: 300px;
    height: auto;
    margin: 10px auto;
    display: block;
}

