
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Quicksand&display=swap');
:root{
    --main-color: #aa336a;
    --heading-color: #fd9dd9;
    --font-body: "Quicksand", sans-serif;
    --font-heading: "Playwrite DE Grund", cursive;
}

body
{
    background-color: #98A869;
}
*
{
    color: #152238;
    text-align: center;
}
h1
{
    font-size: 18pt;
    font-family: 'Playwrite DE Grund';
}
h2
{
    font-size: 28pt;
    font-family: 'Playwrite DE Grund';
    
li {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
 
}

}

#top
{
    border: 9px solid;
    margin: 8vw;
    margin-top: 5px;
}
section
{
    border: 5px white dashed;
    margin: 18vw;
    margin-top: 10px;
    margin-bottom: 20px;
}
.date
{
    color: white;
    white-space: nowrap;
}

.date strong
{
    color: white;
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 0px;
}

img {
    width: 300px;
    height: auto;
    margin: 10px auto;
}
